.oneWord {
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    /* background-color: rgb(3, 121, 137); */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    margin: 5px;
    padding: 4px;
}